lab7b_forms/Connected Services/DictionaryService/DictionaryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DictionaryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8091/DictionaryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8091/DictionaryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8091/DictionaryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDictionaryService_GetRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecords" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_GetRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_AddRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRecord" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_AddRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_UpdRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdRecord" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_UpdRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_DelRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:DelRecord" />
  </wsdl:message>
  <wsdl:message name="IDictionaryService_DelRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelRecordResponse" />
  </wsdl:message>
  <wsdl:portType name="IDictionaryService">
    <wsdl:operation name="GetRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/GetRecords" message="tns:IDictionaryService_GetRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/GetRecordsResponse" message="tns:IDictionaryService_GetRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/AddRecord" message="tns:IDictionaryService_AddRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/AddRecordResponse" message="tns:IDictionaryService_AddRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/UpdRecord" message="tns:IDictionaryService_UpdRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/UpdRecordResponse" message="tns:IDictionaryService_UpdRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IDictionaryService/DelRecord" message="tns:IDictionaryService_DelRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDictionaryService/DelRecordResponse" message="tns:IDictionaryService_DelRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDictionaryService" type="tns:IDictionaryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecords">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/GetRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecord">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/AddRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdRecord">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/UpdRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRecord">
      <soap:operation soapAction="http://tempuri.org/IDictionaryService/DelRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DictionaryService">
    <wsdl:port name="BasicHttpBinding_IDictionaryService" binding="tns:BasicHttpBinding_IDictionaryService">
      <soap:address location="http://localhost:8091/DictionaryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>